<div id="links" class="link">
    <h1>Sister churches</h1>
    <hr>
    <p>
        <a href="https://www.cincinnatichurch.org/" target="_blank"> Cincinnati </a> <br>
        <a href="http://www.columbuschurchofchrist.com/" target="_blank"> Columbus </a> <br>
        <a href="http://www.toledochurch.org/" target="_blank"> Toledo </a> <br>
        <a href="http://clechurch.com/" target="_blank"> Cleveland </a> <br>
        <a href="http://www.akroncanton.church/" target="_blank"> Akron</a> <br>
        <a href="https://www.disciplestoday.org/welcome" target="_blank"> Disciples Today </a> <br>
    </p>
</div>
