<div class="container-fluid">
<table class="nav-table">
    <tr>
        <th class="nav-table-th">
            <a href="#services">Services</a> 
        </th>
        <th class="nav-table-th">
            <a href="#contacts">Leadership</a>
        </th>
        <th class="nav-table-th">
            <a href="#giving">Contribution / Giving</a>
        </th>
        <th class="nav-table-th">
            <a href="#links">Links</a>
        </th>
        <th class="nav-table-th">
            <a href="https://www.facebook.com/mvc.icoc/" target="_blank"> Facebook Page </a>
        </th>
        <th class="nav-table-th">
            <a href="https://forms.gle/QvL5BMVtJcBvBDz38" target="_blank"> Connect with Us </a>
        </th>
    </tr>
</table>

    <img class="bar-image" height="40px" src="assets/images/mvclogo.jpg" alt="Miami Valley Church"> 
</div>
