.parallax-img {
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-img{
    background-image: url('/assets/images/mvclogo.jpg');
}

.wrapper {
    height: 50vh;
}