<div class="container-fluid">
    <div class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Miami Valley Church of Christ</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                <a class="nav-link" href="#services">Services<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#contacts">Leadership<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#links">Sister Churches<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/mvc.icoc/" target="_blank">Facebook Page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://forms.gle/QvL5BMVtJcBvBDz38" target="_blank">Connect with Us<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <div class="parallax-img"></div>
    </div>


    
</div>
