<div id= "contacts" class="contact-table">
    <h1>Leadership:</h1>
    <table class="contact-table">
        <tr class="contact-row">
            <th> Name </th> 
            <th> Phone</th>
            <th> Email</th>
        </tr>
        <tr class="contact-row">
            <td> Brian Hinkle </td>
            <td> 301-980-4712 </td>
            <td> BDHink@gmail.com </td>
        </tr>
        <tr class="contact-row">
            <td> Lauren Hinkle </td>
            <td> 301-980-4815 </td>
            <td> RLNicUNurse@gmail.com </td>
        </tr>
        <tr class="contact-row">
            <td> Doug Phebus</td>
            <td> 937-554-6001</td>
        </tr>
        <tr class="contact-row">
            <td> Michelle Phebus</td>
            <td>937-305-3081</td>
        </tr>

    </table>       
</div>

