<h2> Online Videos </h2>
<h3>Sunday  Service:</h3>  <br> 10:00 am on Sunday  <br>
<h4>Digital Sunday Service</h4> <br>
<!-- <p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oB3RoXueJRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/FuseQ1jDKiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

<b>Midweek Service:</b>7 pm Zoom on Wednesdays(request invite from contact)<br>
<a href="afterexile.pdf"> After the Exile Study Series </a> <br>
<a href="James.pdf"> James Study Series </a> <br>
</p> -->

<div class="row">
    <div class="col card" style="width: 5rem;">
        <div class="card-img-top">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oB3RoXueJRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>

        <div class="card-body">
            <h5 class="card-title">The Dilemma of Doubt</h5>
        </div>
    </div>


    <div class="card col" style="width: 10rem;">
        <div class="card-img-top">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FuseQ1jDKiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>
        <div class="card-body">
            <h5 class="card-title">The Dilemma of "Yes"</h5>
        </div>
    </div>
</div>

<b>Midweek Service:</b> 7:00pm on Wednesdays - Virtual Meetings (request invite from contact)<br>
<a href="/assets/docs/afterexile.pdf"> After the Exile Study Series </a> <br>
<a href="/assets/docs/James.pdf"> James Study Series </a> <br>