
<!-- <h3>Sunday  Service:</h3>   -->
<h2><a href="https://www.youtube.com/channel/UCHIdU8YEU2dxlV8V41hiTpA" target="_blank">
    Virtual Sunday Services</a></h2>
    <h3>10:00am on Sundays</h3>
<div class="row">
    <div class="col card" style="width: 5rem;">
        <div class="card-img-top">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oB3RoXueJRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>

        <div class="card-body">
            <h5 class="card-title">The Dilemma of Doubt</h5>
        </div>
    </div>

    <div class="card col" style="width: 10rem;">
        <div class="card-img-top">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/FuseQ1jDKiE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>
        <div class="card-body">
            <h5 class="card-title">The Dilemma of "Yes"</h5>
        </div>
    </div>
</div>

<h2>Virtual Midweek Services</h2>
<h3>7:00pm on Wednesdays</h3>
<em>request invite from contact</em>

<h2>Study Series</h2>
<div class="row justify-content-md-center justify-content-center">
    <div class="col-3">
        <h5><a href="/assets/docs/afterexile.pdf"> After the Exile </a></h5>
        <a href="/assets/docs/afterexile.pdf"><img src="/assets/images/AfterTheExile.png" class="" height="100px" alt="After the Exile Image"></a>
    </div>
    <div class="col-3">
        <h5><a href="/assets/docs/James.pdf"> The Book of James </a></h5>
        <a href="/assets/docs/James.pdf"> <img src="/assets/images/BookOfJames.png" class="" height="100px" alt="Book of James Image"></a>
    </div>
</div>